*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('background5.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    /* animation: animateBg 6s linear infinite; */
}
@keyframes animateBg {
100%{
    filter: hue-rotate(360deg);
}
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0c0c0c;
    /* backdrop-filter: blur(200px); */
}

.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 700px;
    z-index: 2;
}
.box:hover{
    border-color: #820088;
    border-width: 10px;
    box-shadow: 0 0 5px 4px rgba(250,0,255,0.6);
    z-index: 2;
}
.box:focus{
    border-color: #820088;
    border-width: 10px;
    box-shadow: 0 0 5px 4px rgba(250,0,255,0.6);
    z-index: 2;
}
.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    border-radius: 100%;
    background: linear-gradient(0deg,transparent,transparent,
    #d500e0,#d500e0,#d500e0);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 20s linear infinite;
}
.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,
    #d500e0,#d500e0,#d500e0);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 20s linear infinite;
    animation-delay: -10s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* .borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,
    #aa00cc,#aa00cc,#aa00cc);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderLine::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,
    #aa00cc,#aa00cc,#aa00cc);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
} */

.box form{
    position: absolute;
    inset: 4px;
    background: url("login_background.jpg");
    /* background-position: 50% 50%; */
    padding: 50px 40px;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;

}
.box form .input-box{
    position: relative;
    width: 300px;
    margin-top: 25px;
}
.box form .input-box input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #000;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .input-box span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color:#fff;
    font-size: 0.9em;
    letter-spacing: 0.5em;
    transition: 0.5s;
}

.box form .input-box input:valid~span,
.box form .input-box input:focus~span{
    color: #cfcfcf;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .input-box i{
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .input-box input:valid~i,
.box form .input-box input:focus~i{
    height: 44px;
}

#confirm-pass-div{
    display:none;
}

.login-button{
    border: none;
    outline: none;
    padding: 9px 25px;
    color: #d500e0;
    background-color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 20px;
    font-weight: 600;
    width: 300px;
    margin-top: 10px;
}
.login-button:hover{
    background-color: #d500e0;
    background: #d500e0;
    color: #fff;
}

.left-login{
    position:relative;
    opacity: 1;
    transition: 1.5s;
}
.left-login:after{
    content:  "<<<";
    position: absolute;
    opacity: 0;
    right:10px;
    transition: 1.5s;
}
.right-login{
    position:relative;
    opacity: 1;
    transition: 1.5s;
}
.right-login:after{
    content: ">>>";
    position: absolute;
    opacity: 0;
    left:10px;
    transition: 1.5s;
}
.login-button:hover span:after{
    opacity: 1;
}
.box form .links{
    color: #d500e0;
    margin-top: 4px;
}
.register-button {
    position: relative;
    border: 0px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: .9em;
    color: #fff;
    background: transparent;
    display: flex;
    justify-content: space-between;
}
.register-button:hover {
    text-decoration: underline;
}

